#WhoAmI {
  padding: 0;
}

.row {
  margin: 0;
}

.col-lg-6 {
  padding: 0;
}

ul.contact-list > li {
  display: inline-block;
}

section#personalSection,
section#personalSection > p > a {
  color: white;
}

div.col-lg-6 {
  padding: 0;
}

img.img-fluid {
  width: 100%;
  height: auto;
  overflow: auto;
}
