<main>
  <section class="card card-body" id="sectionOne">
    <h4 class="sectionOne-content">
      My projects
    </h4>
  </section>
  <section class="content" id="projects">
    <div class="row">
      <div class="col-lg-3">
          <app-projectitem title="antonnorberg-website" gitLink="https://github.com/annorberg98/antonnorberg-website"></app-projectitem>
      </div>
      <div class="col-lg-3">
          <app-projectitem title="Angular-currency" gitLink="https://github.com/annorberg98/Angular-currency"></app-projectitem>
      </div>
      <!--<div class="col-lg-3">
          <app-projectitem title="Website" gitLink="https://github.com/annorberg98/antonnorberg-website"></app-projectitem>
      </div>
      <div class="col-lg-3">
          <app-projectitem title="Website" gitLink="https://github.com/annorberg98/antonnorberg-website"></app-projectitem>
      </div>-->
    </div>

  </section>
</main>
