html,
body {
  background-color: #5c3d9c;
  margin: 0;
}

header#header {
  height: 15vh;
}

header#header > #header-content {
  border: none;
}

main {
  background-color: #5c3d9c;
  /*position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;*/
}

main > section > div.card > img {
  margin: auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0;
}

div.col-lg-4 {
  padding: 0;
  text-align: center;
}
