<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Programming</h5>
        <app-skill title="Python" value="50"></app-skill>
        <app-skill title="PHP" value="50"></app-skill>
        <app-skill title="Java" value="20"></app-skill>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Frontend</h5>
        <app-skill title="HTML" value="90"></app-skill>
        <app-skill title="CSS" value="75"></app-skill>
        <app-skill title="Javascript" value="40"></app-skill>
        <app-skill title="Bootstrap" value="80"></app-skill>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card card-body">
    <h5 class="card-title">Other</h5>
    <app-skill title="Databases &amp; SQL" value="60"></app-skill>
    <app-skill title="UML" value="30"></app-skill>
    <app-skill title="UI/UX" value="50"></app-skill>
    <app-skill title="Information Architecture" value="40"></app-skill>
    <app-skill title="Information Security" value="60"></app-skill>
    <app-skill title="Git" value="40"></app-skill>
  </div>
</div>
