<div class="row">
  <div class="col-sm-6 d-flex align-item stretch">
    <div class="card card-body">
      <h5 class="card-title">Programming Languages</h5>
      <app-skill title="Python" value="50" area="programming"></app-skill>
      <app-skill title="PHP" value="45" area="programming"></app-skill>
      <app-skill title="C#" value="25" area="programming"></app-skill>
      <app-skill title="Javascript" value="60" area="programming"></app-skill>
      <app-skill title="TypeScript" value="50" area="programming"></app-skill>
      <app-skill title="Java" value="15" area="programming"></app-skill>
    </div>
  </div>
  <div class="col-sm-6 d-flex align-item stretch">
    <div class="card card-body">
      <h5 class="card-title">Web Development</h5>
      <app-skill title="HTML" value="90" area="web"></app-skill>
      <app-skill title="CSS" value="75" area="web"></app-skill>
      <app-skill title="Bootstrap" value="80" area="web"></app-skill>
      <app-skill title="SASS" value="60" area="web"></app-skill>
      <app-skill title="React" value="20" area="web"></app-skill>
      <app-skill title="Angular" value="25" area="web"></app-skill>
    </div>
  </div>
  <!--<div class="col-sm-4 d-flex align-item stretch">
    <div class="card card-body">
      <h5 class="card-title">Other</h5>
      <app-skill title="Databases &amp; SQL" value="60" area="other"></app-skill>
      <app-skill title="UML" value="30" area="other"></app-skill>
      <app-skill title="UI/UX" value="50" area="other"></app-skill>
      <app-skill title="Information Architecture" value="40" area="other"></app-skill>
      <app-skill title="Information Security" value="60" area="other"></app-skill>
      <app-skill title="Git" value="40" area="other"></app-skill>
    </div>
  </div>-->
</div>
