img.git-img {
  margin: auto;
}

div.project-item {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  transition-duration: 0.3s;
}

div.project-item:hover {
}

div.project-item > a {
  transition-duration: 0.3s;
}

div.project-item > a:hover {
  text-decoration: none;
}
